<section class="footer">
  
  <div class="footer-section-1">
    <h4>contact</h4>
<div class="contact-options">
    <div class="telephone">
  
    
      <i class="fa-solid fa-phone"></i>
      <p>+48 9874 238 765</p>
    </div>
    <div class="email">
   
      <i class="fa-solid fa-envelope"></i>
      <p>flowers@flowers.com</p>
    </div>
  </div>
</div>
  <div class="footer-section-2">
    <h3>Flowers<span class="material-symbols-outlined">
        emoji_nature
      </span> </h3>
    all rights reserver - 2023
  </div>



  <div class="footer-section-3">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-pinterest"></i>
  </div>
</section>