.toolbar {

    height: 60px;


}

.basket {

    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: min-content;
    background-color: #00664e;
    height: fit-content;

.topper{
    width: 100vw;
    height: 30vh;
    background-color: #fbae3c;
    background-image: linear-gradient(#fbaf3c52, #0ea78660), url("/assets/pexels-amina-filkins-5414056.jpg");
    background-size: cover;
    background-position:top;
}


    .header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        margin-left: 2rem;


        h2 {
            font-size: 2rem, ;
            font-family: "Nunito", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            color: white;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
            border-bottom: 2px white solid;
        }

        i {
            font-size: 2rem, ;
            color: #fbae3c;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

        }
    }

    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        width: 90vw;
        margin-top: 2rem;
        padding: 2vh;
     

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            justify-self: center;
            align-self: center;
        
        }
        .pay{
            border: #fbae3c 2px solid ;
            background-color:whitesmoke;
            border-radius: 2rem;
       
        }


    }

.count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
    .content {

        width: 100vw;
        height: fit-content;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        padding: 3vh 3vw;

        background: linear-gradient(to top, #ffefe9dc, #00664e, ),
            url(https://grainy-gradients.vercel.app/noise.svg);

    }

    &-container {




        img {
            width: 50px;
            height: 50px;
        }



        button {

            padding: 1rem;

            color: #05a081;
            text-transform: uppercase;
            background: none;

            font-size: 2rem;
            border-radius: 0.5rem;
            min-width: 40%;

            position: relative;
            text-align: center;
            transition: all 1s ease-in-out;
            z-index: 1;
            border: none;
        }







        .pay {
            padding: 1.1rem;

            a {

                font-size: 2rem, ;
                color: black;


                padding: 2rem;
                border-radius: 0.2rem;

                i {
                    font-size: calc(1rem + 1vw), ;
                    color: #fbae3c;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
                }
            }

        }
    }
}