<section class="showcase_picture">
  <div class="wrapper">
  <video autoplay muted loop id="myVideo">
    <source src="/assets/pexels-amina-filkins-5405553 (1080p).mp4" type="video/mp4">
  </video>

  <div class="viewport-header">
 
    <h1 class="showcase_picture-content-title">
      Welcome to Flowers <span class="material-symbols-outlined">
        emoji_nature
      </span> 
    </h1>
    <h2>our family flower shop</h2>

    <p class="showcase_picture-content-para">
      “People from a planet without flowers would think we must be mad with joy the whole time to have such things about
      us.”
    </p>
  </div>
</div>
</section>