.footer {


    position: relative;
    background-color: #00664e;
    border-top: 0.3rem solid whitesmoke;
    color: white;
    height: max-content;

    i {
        color: white;
        font-size: 1.5rem ;
    }



    &-section-2 {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        h3 {
            font-size: 1.2rem ;
            ;
        }

        p {
            font-size: 1.2rem ;

            ;
        }

    }

    &-section-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        i {
            padding: 1rem;
        }
    }

    @media screen and (max-width: 400px) {

        .footer-section-1,
        .footer-section-3 {
            visibility: hidden;
        }

        .footer-section-2 {
            display: flex;
            justify-content: center;
            align-items: center;

            h3,
            i {
                font-size: 2rem;
            }

            p { font-size: 1rem;}

        }

        .footer {
        visibility: hidden;
         
        }
    }
}