<section class="user">

  <div class="user-container">
    <div class="user-container_photo">
     <span class="header"> <h2>Welcome user!</h2><i class="fa-solid fa-user"></i></span>
      <p>now you can finalize your purchases and view your purchase history</p>

      <div class="buttons">
        <a routerLink="/shop">  shop<span class="material-symbols-outlined">
          shopping_cart
          </span></a>
        <a routerLink="/shop"> basket<span class="material-symbols-outlined">
          shopping_basket
          </span></a>
        <a class="log-out" (click)="logOut()"> log out<span class="material-symbols-outlined ">
          logout
          </span></a>
      </div>
    </div>

    <div class="user-container_history">
      <h3>your purchase history</h3>
      <mat-card>  
        <cdk-accordion class="example-accordion">
          <cdk-accordion-item
            *ngFor="let item of orders ; let index = index;"
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item.date | date}}
              <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? 'close' : 'open' }}
              </span>
            </div>
            <div         *ngFor="let product of item.products"
       
              class="example-accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">
              <span><b>{{product.name }}</b></span>
              <span>{{product.price | currency }}</span>
              <img src='{{product.thumbnail}}' alt="">
             
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
        </mat-card>
    
    </div>
  </div>
</section>