.shop {



    background: linear-gradient(to top, #ffefe982, #ffefe9dc),
        url(https://grainy-gradients.vercel.app/noise.svg);


    .toolbar {
        grid-template-columns: container-start/conteinar-end;
        height: 16rem;

    }

    &_container {
        display: grid;
        grid-template-rows: 30% auto;





        &-sidenav {
            background-color: whitesmoke;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
            position: fixed;
            height: 10%;
            width: 100%;
            display: grid;
            align-items: center;
            z-index: 22;







            .list-container {

                padding: 1rem;



                ul {

                    position: sticky;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: row;

                    align-items: center;
                    gap: 4vh;

                    justify-content: space-evenly;


                    li {

                        font-size: calc(1rem + 0.5vh);
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        transition: all 0.5s ease;

                   
                    }



                }
            }
        }
    }
    @media screen and (max-width: 400px) {
        .toolbar {
            grid-template-columns: container-start/conteinar-end;
            height: 13rem;


    
        }



    }
    @media screen and (max-width: 400px) {
        .toolbar {
            grid-template-columns: container-start/conteinar-end;
            height: 13rem;
    
        }

        ul{
            visibility: hidden;
        }


       .side-bar_content{
   display: flex;
   justify-content: center;
   align-items: center;
    
       }
       .select{
       justify-self: center;
       }
    }
    @media screen and (min-width: 400px) {
     

      


      .select{
     display:none;
    }}

}

.shop_container-content {
    margin-top: 3vh;
    min-height: 110rem;
    padding: 6vh 4vw;
}


    .active {
        border-bottom: 0.1rem solid;
            
        border-image: linear-gradient(to right, #ffd6c7, #bcdae2)1;
        padding: 1rem;
    }


