<nav class="nav">
  <a routerLink="" fragment="home" class="nav_logo">

    <p>Flowers<span class="material-symbols-outlined">
        emoji_nature
      </span> </p>

  </a>

  <span (click)="showSide()" class="hamburger"><i class="fa-solid fa-bars"></i></span>




  <div [class.active]="sideOpen" class="nav_side active">
    <i (click)="showSide()" class="fa-solid fa-xmark"></i>
    <ul>
      <li (click)="showSide()" class="nav_side-link" routerLink="" fragment="home"> home
        <span></span>
      </li>
      <li (click)="showSide()" class="nav_side-link" routerLink="/shop">shop
        <span></span>
      </li>

      <li (click)="showSide()" class="nav_side-link" routerLink="" fragment="contact">contact

        <span></span>
      </li>
      <li (click)="showSide()" class="nav_side-link" *ngIf="isSignedAsAdmin()" routerLink="/admin">admin

        <span></span>
      </li>
      <li (click)="showSide()" *ngIf="!isSigned()" class="nav_side-link" routerLink="/sign-in"><i
          class="fa-solid fa-user"></i>

        <span></span>
      </li>
      <li (click)="showSide()" *ngIf="isSignedAsUser()" class="nav_side-link" routerLink="/user"><i
          class="fa-solid fa-user"></i>

        <span></span>
      </li>
      <li (click)="showSide()" [matBadge]="basketProcutCount" matBadgePosition="below" MatBadgeSize='small'
        matBadgeColor="accent" [matBadgeHidden]="basketProcutCount == 0" routerLinkActive="active"
        class="nav_side-link" routerLink="/basket"><i class="fa-solid fa-basket-shopping"></i>

        <span></span>
      </li>
    </ul>


    <span class="bar"></span>
  </div>
  <!--nav  -->

  <ul class="nav_links">
    <li>
      <a routerLink="/home" href="">home

        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>

    </li>
    <li routerLinkActive="active">
      <a routerLink="/shop" href="">shop
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li>
      <a routerLink="" fragment="contact">contact
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="isSignedAsAdmin()" routerLink="/admin">admin
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <ng-container *ngIf="!isSigned()">
      <li routerLinkActive="active">
        <a routerLink="/sign-in"> <i class="fa-solid fa-user"></i>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>

      </li>
    </ng-container>

    <li>
      <ng-container *ngIf="isSignedAsUser()">
        <a routerLink="/user"> <i class="fa-solid fa-user"></i>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </ng-container>
    </li>
    <li [matBadge]="basketProcutCount" matBadgePosition="below" MatBadgeSize='small' matBadgeColor="accent"
      [matBadgeHidden]="basketProcutCount == 0" routerLinkActive="active">
      <a routerLink="/basket"><i class="fa-solid fa-basket-shopping"></i>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>



    </li>


  </ul>





</nav>