
.nav {
z-index: 200000;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    text-transform: uppercase;
    // background-color: rgb(245, 245, 245);
    overflow: hidden;
    z-index: 100;
  
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    &.scrolled {
        background-color:  #00664e;
        // background-color:  #0ea786;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.66);
        transition: all 0.5s ease-in-out;
    }




    &_logo {
        justify-self: center;
        align-self: center;


        span {
            padding: 1rem;
            color: white;
            font-size: 2.5rem;
           
        }

        p {
            color: white;
            font-size: 2.5rem;
            font-weight: 900;;
        }
    }

    &_links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5rem;
        font-weight: 900;
        


        a {
            display: flex;
            flex-direction: row;
        }


        a,
        i {
            width: 100%;
         
            font-size:1.5rem ;
            font-weight: 600;
            background: none;
            color: white;
            display: block;


            padding: 0.8rem;
            place-self: start;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease;






            span {
                display: block;
                position: absolute;


            }

            span:first-child {

                top: 0;
                left: -100%;
                width: 100%;
                height: 0.2rem;
                background: linear-gradient(90deg, transparent, #ffd6c7);
                transition: 0.5s;
                transition-delay: 1s;
            }

            span:nth-child(2) {
                top: -100%;
                right: 0;
                width: 0.2rem;
                height: 100%;
                background: linear-gradient(180deg, transparent, #bcdae2);
                transition: 0.5s;
                transition-delay: 0.75;
            }

            span:nth-child(3) {
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 0.2rem;
                background: linear-gradient(270deg, transparent, #ffd6c7);
                transition: 0.7s;
                transition-delay: 0.25s;
            }

            span:nth-child(4) {
                top: 100%;
                left: 0%;
                width: 0.2rem;
                height: 100%;
                background: linear-gradient(3600deg, transparent, #bcdae2);
                transition: 0.5s;
                transition-delay: 0;
            }

        }






        .active {
            border-bottom: 0.1rem solid;

            border-image: linear-gradient(to right, #ffd6c7, #bcdae2)1;
        }



        a:hover span:first-child,
        &--link:active span:first-child {
            left: 100%;
            transition-duration: 1s;
            transition-delay: 0s;
        }

        a:hover span:nth-child(2),
        &--link:active span:nth-child(2) {
            top: 100%;
            transition-duration: 1s;
            transition-delay: 0.25s;
        }

        a:hover span:nth-child(3),
        &--link:active span:nth-child(3) {
            right: 100%;
            transition-duration: 1s;
            transition-delay: 0.5s;
        }

        a:hover span:nth-child(4),
        &--link:active span:nth-child(4) {
            top: -100%;
            transition-duration: 1s;
            transition-delay: 0.75s;
        }

    }


}



@media screen and (max-width: 500px) {
    .nav {
        height: 13rem;

        p {
            font-size: 2rem;
        }

        span {
            font-size: 2rem
        }

        .nav_links {
            visibility: hidden;
        }

        .sidenav {

            justify-self: center;

            span {
                width: 20rem;
            }

        }
    }

    .navbar-nav {
        display: flex;
        gap: 3rem;

        span {
            color: black;
        }

        a {
            color: black;
        }


    }

    .material-symbols-outlined {
        color: black;
    }
}

@media screen and (min-width: 500px) {
    .nav {
        height: 6rem;



        .sidenav {
            visibility: hidden;


        }

    }




}