<nav class="nav">
  <a href="" class="nav_logo">

    <p>Flowers<span class="material-symbols-outlined">
        emoji_nature
      </span> </p>

  </a>
  <ul class="nav_links">
    <li routerLinkActive="active">
      <a routerLink="/home" href="">home

        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>

    </li>
    <li routerLinkActive="active">
      <a routerLink="/shop" href="">shop
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact" href="">contact
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin">admin
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/sign-in">user<i class="fa-solid fa-user"></i>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/basket">basket<i class="fa-solid fa-basket-shopping"></i>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
  </ul>


</nav>