.nav {
    z-index: 200000;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    text-transform: uppercase;
    // background-color: rgb(245, 245, 245);
    overflow: hidden;
    z-index: 100;

    font-family: "Nunito", sans-serif;
    font-weight: 900;

    i {
        color: white;
        cursor: pointer;
    }

    &.scrolled {
        background-color: #00664e;
        // background-color: #198078;
        // background-color:  #0ea786;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.66);
        transition: all 0.5s ease-in-out;
    }

    &.background {
        background-color: #00664e;
    }




    &_logo {
        justify-self: center;
        align-self: center;


        span {
            padding: 1rem;
            color: white;
            font-size: 2.5rem;

        }

        p {
            color: white;
            font-size: 2.5rem;
            font-weight: 900;
            ;
        }
    }

    &_links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5rem;
        font-weight: 900;



        a {
            display: flex;
            flex-direction: row;
        }


        a,
        i {
            width: 100%;

            font-size: 1.5rem;
            font-weight: 600;
            background: none;
            color: white;
            display: block;


            padding: 0.8rem;
            place-self: start;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease;






            span {
                display: block;
                position: absolute;


            }

            span:first-child {

                top: 0;
                left: -100%;
                width: 100%;
                height: 0.2rem;
                background: linear-gradient(90deg, transparent, #ffd6c7);
                transition: 0.5s;
                transition-delay: 1s;
            }

            span:nth-child(2) {
                top: -100%;
                right: 0;
                width: 0.2rem;
                height: 100%;
                background: linear-gradient(180deg, transparent, #bcdae2);
                transition: 0.5s;
                transition-delay: 0.75;
            }

            span:nth-child(3) {
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 0.2rem;
                background: linear-gradient(270deg, transparent, #ffd6c7);
                transition: 0.7s;
                transition-delay: 0.25s;
            }

            span:nth-child(4) {
                top: 100%;
                left: 0%;
                width: 0.2rem;
                height: 100%;
                background: linear-gradient(3600deg, transparent, #bcdae2);
                transition: 0.5s;
                transition-delay: 0;
            }

        }




        .mat-badge-content {
            background-color: #fbae3c;
            color: #00664e;
        }

        .active {
            border-bottom: 0.1rem solid;

            border-image: linear-gradient(to right, #ffd6c7, #bcdae2)1;
        }



        a:hover span:first-child,
        &--link:active span:first-child {
            left: 100%;
            transition-duration: 1s;
            transition-delay: 0s;
        }

        a:hover span:nth-child(2),
        &--link:active span:nth-child(2) {
            top: 100%;
            transition-duration: 1s;
            transition-delay: 0.25s;
        }

        a:hover span:nth-child(3),
        &--link:active span:nth-child(3) {
            right: 100%;
            transition-duration: 1s;
            transition-delay: 0.5s;
        }

        a:hover span:nth-child(4),
        &--link:active span:nth-child(4) {
            top: -100%;
            transition-duration: 1s;
            transition-delay: 0.75s;
        }

    }

    .nav_side {
        transition: all 0.5s ease-in-out;
        position: fixed;
        width: 100%;
        height: 60vh;
        top: -100vh;
        left: 0;
        background-color: #00664e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.66);

        z-index: 99;

        .fa-xmark {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2rem 2rem;
            cursor: pointer;
            color: #fbae3c;
            font-size: 2.5rem;
        }

        &.active {
            top: 0;

        }

        ul {
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style: none;
            text-transform: uppercase;
            font-size: 1.8rem;
            gap: 2rem;

            li {
                color: white;
                cursor: pointer;

                i {
                    color: white;
                    font-size: 1.8rem;
                }
            }
        }

        .bar {
            width: 40%;
            height: 2px;
            background-color: #fbae3c;
            bottom: 20%;
            justify-self: flex-end;
        }

    }

    #offcanvasNavbar {
        background-color: #00664e;
    }
}



@media screen and (max-width: 800px) {
    .nav {
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        p {
            font-size: 2rem;
        }

        span {
            font-size: 2rem
        }

        .nav_links {
            visibility: hidden;
        }

        .sidenav {


            span {

                font-size: 3rem;
            }

        }

        .hamburger {
            visibility: visible;
        }
    }

    .navbar-nav {
        display: flex;
        gap: 3rem;

        span {
            color: black;
        }

        a {
            color: black;
        }


    }

    .material-symbols-outlined {
        color: white;
        padding: 2rem;
    }
}

@media screen and (min-width: 800px) {
    .nav {
        height: 6rem;

        .hamburger {
            visibility: hidden;

        }

        .sidenav {
            visibility: hidden;


        }

    }




}