.list{
    padding: calc(5rem + 10vw);
    min-height: 100vh;
}

@media screen and (max-width: 400px) {
    .list{
        padding: 0.2rem;
      max-width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 9rem;
    }
    }