<section class="why-us">
  <h2>why us?</h2>
  <h2>becouse we are:</h2>
  <div class="why-us_content">

    
    <div *ngFor="let whyUsCard of whyUsCards">
      <app-why-us-card [card]="whyUsCard"></app-why-us-card>
    </div>

    <!-- 
    <div class="why-us_content-card">
      <span class="material-symbols-outlined">
        outdoor_garden
      </span>
      <h3 class="why-us_content-card-title">local</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero in esse, optio atque quod numquam placeat
        nesciunt rem!
      </p>
    </div>

    <div class="why-us_content-card">
      <span class="material-symbols-outlined">
        diversity_1
      </span>
      <h3 class="why-us_content-card-title">lovely</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero in esse, optio atque quod numquam placeat
        nesciunt rem!
      </p>
    </div>

    <div class="why-us_content-card">
      <span class="material-symbols-outlined">
        compost
      </span>
      <h3 class="why-us_content-card-title">natural</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero in esse, optio atque quod numquam placeat
        nesciunt rem!
      </p>
    </div> -->

  </div>
</section>