<section class="admin">
  <div class="toolbar"></div>


  <div class="admin_content">
<section class="side-bar">
<div class="side-bar_content">
  <mat-form-field class="select">
    <mat-label>categories</mat-label>
    <mat-select>
      <mat-option routerLink="categories">
        categories
      </mat-option>
      <mat-option routerLink="products">
        products
      </mat-option>
      <mat-option >
       newsletters
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ul>
    <li routerLink="categories">categories</li>
    <li routerLink="products">products</li>
    <li>newsletters</li>
  </ul>
</div>
</section>

<section class="content">
<router-outlet></router-outlet>
</section>

</div>


</section>