.admin {
    background: linear-gradient(to top, #ffefe982, #ffefe9dc),
        url(https://grainy-gradients.vercel.app/noise.svg);

    .toolbar {
        grid-template-columns: container-start/conteinar-end;
        height: 58px;



    }

    .admin_content {
        display: grid;
        grid-template-rows: 30% auto;




        .side-bar {
            background-color: #fbae3c;
            ;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
            position: fixed;
            height: 6rem;
            width: 100%;
            display: grid;
            align-items: center;
            z-index: 22;
            font-family: "Nunito", sans-serif;
            font-weight: 700;

            &_content {

                font-size: calc(1rem + 0.5vh);
                text-transform: uppercase;
                letter-spacing: 0.4rem;

                ul {
                    position: sticky;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: row;

                    align-items: center;
                    gap: 4vh;

                    justify-content: space-evenly;

                    li {

                        font-size: calc(1rem + 0.5vh);
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        transition: all 0.5s ease;


                    }
                }
            }
        }


    }

    .active {
        border-bottom: 0.1rem solid;

        border-image: linear-gradient(to right, #ffd6c7, #bcdae2)1;
        padding: 2rem;
    }

    @media screen and (max-width: 500px) {
        .toolbar {
            grid-template-columns: container-start/conteinar-end;
            height: 58px;

        }

        ul {
            visibility: hidden;
        }


        .side-bar_content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

        .select {
            justify-self: center;
            width: 100vw;
        }
    }

    @media screen and (min-width: 500px) {





        .select {
            display: none;
        }
    }
}