<section class="offer">
  <h2 class="offer_title">
    Our offer
  </h2>
  <div class="offer_content">

    <!-- <div class="offer_content-card">
  
      <div class="offer_content-card-front"></div>
  
      <div class="offer_content-card-back">
        <h4>rose</h4>
        <p>A rose is either a woody perennial flowering plant of the genus Rosa in the family Rosaceae or the flower it
          bears.
        </p>
      </div>
    </div> -->

    <div *ngFor="let card of cards">
      <app-card [cards]="card"></app-card>
    </div>





  </div>
</section>