<section class="sign-up">
  <div class="toolbar"></div>
  <div class="sign-up_content">
    <div class="sign-up_content-header">
      <h3>sign up <i class="fa-solid fa-user"></i></h3>
      <p>to complete your order and see your purchase history</p>
    </div>

    <form action="" [formGroup]="SignUpForm">
      <input formControlName="email" type="email" placeholder="email">
      <mat-error style="color:#ffda03"  *ngIf="SignUpForm.get('email').hasError('required')">
        email required
        </mat-error>
        <mat-error  style="color:#ffda03" *ngIf="SignUpForm.get('email').hasError('email')">
        enter valid email
        </mat-error>
      <input formControlName="password" type="password" placeholder="password">
      <mat-error style="color:#ffda03;" *ngIf=" SignUpForm.get('password').hasError('required')">
        password requaired
      </mat-error>
      <input formControlName="passwordConfirmation" type="password" placeholder="confirm password">
      <mat-error style="color:#ffda03;" *ngIf=" SignUpForm.get('passwordConfirmation').hasError('required')">
        password requaired
      </mat-error>
      <button type="submit">sing in</button>
    </form>

  </div>
</section>