.sign-up {
    display: grid;
    grid-template-columns:
        [container-start] 1fr [center-start] repeat(6,
            [col-start] minmax(min-content, 25rem) [col-end]) [center-end] 1fr [container-end];

    background-image:linear-gradient(#fbaf3c95, #0c4e3fd0), url("/assets/pexels-amina-filkins-5410050.jpg");
    background-size: cover;
    background-position: center;



    .toolbar {
        grid-template-columns: container-start/conteinar-end;
        height: 16rem;

    }

    &_content {
        grid-column: container-start/container-end;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &-header{
            h3 {
                font-family: "Nunito", sans-serif;
                font-weight: 900;
                font-size: calc(1.5rem + 3vw), ;
        
                color: whitesmoke;
                padding: 1rem;
                text-transform: uppercase;
                margin-top: 3rem;
                justify-self: center;
                text-align: center;
            }
            i{
            color: #fbaf3c;
            }
        p{
            font-size: calc(1rem + 0.5vw);
            text-transform: uppercase;
            font-weight: 200;
            margin-bottom: 3rem;
            justify-self: center;
        }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            input {
                position: relative;
                background-color: transparent;
                width: 50vw;
                height: 6rem;
                align-self: center;
                border: none;


                border-bottom: 0.2rem solid #fbaf3c;
                // border-right: 0.2rem solid whitesmoke;
                // border-left: 0.2rem solid whitesmoke;
                // border-top:1px solid whitesmoke;



                // border-bottom-right-radius: 25%;
                // border-bottom-left-radius: 25%;
                font-size: 1.5rem;
                color: whitesmoke;
                text-align: center;




                background: linear-gradient(to top, #479f8e45, transparent),


                    // background: linear-gradient(to right, #07a98881, transparent),
                    //     url(https://grainy-gradients.vercel.app/noise.svg);
                    // background-color: rgb(182, 182, 182);;
            }

            input::placeholder {
                color: whitesmoke;
                text-transform: uppercase;
                font-size: 2vh;
                letter-spacing: 0.5rem;
                font-weight: 200;
            }

            button {
                align-self: center;
                padding: 1rem;
                background-color: #05a081;
          
                color: whitesmoke;
                text-transform: uppercase;
                margin-top: 2rem;
                font-weight: 700;
                font-size: 2rem;
                border-radius: 0.5rem;
                width: 12rem;
                margin-top: 4rem;
                position: relative;
                text-align: center;
                transition: all 1s ease-in-out;
                z-index: 1;
                border: 1px solid whitesmoke;
            }

            button::before {
                content: "";
                color: #05a081;
                background-color: whitesmoke;
                transform: scale(2rem);
                position: absolute;

                top: 0;

                left: 0;
                height: 100%;
                width: 100%;
                background-color: #05a081;
                border-radius: inherit;
                z-index: -1;
                transform: scale(0);
                transition: all 0.5s ease-in-out;
            }

            button:hover::before {
                transform: scale(1);
            }

            button[disabled]:hover::before {
                transform: scale(0);
            }

            button[disabled]:hover {

                color: #05a081;


            }

            button:hover:not([disabled]) {
                color: white;
                // background-color:#05a081 ;
                border: 0.2rem solid whitesmoke;
            }
   
        }
    }

    a{
        margin-top: 10vh;
        color: #ffda03;
        text-decoration: underline;
    }
    mat-error{
        align-self: center;
    }
}