<section class="newsletter">
  <h2 class="newsletter_title">Join to our newsletter</h2>

  <div class="newsletter_content">
    <form (ngSubmit)="onSubmit()" [formGroup]="NewsletterForm" action="">
    <input formControlName="email" class="newsletter_content-input" type="email"  placeholder="enter your email">
    <br><mat-error style="color:whitesmoke"  *ngIf="NewsletterForm.get('email').hasError('required')">
      email required
      </mat-error>
      <mat-error  style="color:whitesmoke" *ngIf="NewsletterForm.get('email').hasError('email')">
      enter valid email
      </mat-error>
      <button type="submit" [disabled]="NewsletterForm.invalid">submit</button>
  </form>


  </div>
</section>