<section class="contact">
  <div class="toolbar"></div>
  <div class="content">
    <div class="content_photo">
      <div class="content_photo-text">
        <h1>
          contact us
        </h1>
        <p> we are happy to talk with you</p>
      </div>

    </div>
    <div class="content_form">

      <div class="content_form-card-1">
        <h4>contact us</h4>
        <div class="content_form-card-1-items">

          <ul>
            <li> <i class="fa-solid fa-phone"></i>
              <span>+48 9874 238 765</span>
            </li>
            <li> <i class="fa-solid fa-envelope"></i>
              <span>FLOWERS@FLOWERS.COM</span>
            </li>
          </ul>

        </div>
      </div>

      <div class="content_form-card-2">
        <h4> follow us</h4>
        <div class="content_form-card-2-items">

          <ul>
            <li>
              <i class="fa-brands fa-instagram"></i>
              <span>instagram/flowers</span>
            </li>
            <li><i class="fa-brands fa-facebook"></i>
              <span>facebook/flowers</span>
            </li>
            <li><i class="fa-brands fa-pinterest"></i>
              <span>pinterest/flowers</span>
            </li>
          </ul>
        </div>

      </div>

      <div class="content_form-card-3">
        <h4>visit us</h4>
        <div class="content_form-card-3-items">

          <ul>
            <li>
              <i class="fa-solid fa-house-user"></i>
              <span>45 East Mayfair Ave.
                San Jose, CA 95123</span>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>


<!-- <i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-pinterest"></i> 
    <i class="fa-solid fa-phone"></i>
 <i class="fa-solid fa-envelope"></i>-->