.offer {



    &_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(68000rem, 1fr));
        gap: 3vh;
        place-items: center;


        &-card {
            width: 35rem;
            height: 35rem;
            position: relative;
            flex: 1 0 21%;
     

        }

        &-card-front,
        &-card-back {
            background-repeat: none;
            background-position: center;
            background-size: cover;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 1s ease-in-out;
            backface-visibility: hidden;
            transform: perspective(100rem);

            display: grid;
            justify-items: center;
            align-items: start;
            padding: 3rem
        }

        &-card-back p {
            place-self: center;
            font-size: 1.5rem;
            font-weight: 400;
        }

        &-card-back h4 {
            place-self: center;
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        &-card-1 &-card-front {
            background: url("/assets/roses.jpg");
            background-size: cover;
            background-position: center;
        }

        &-card-2 &-card-front {
            background: url("/assets/dahlia1.jpg");
            background-size: cover;
            background-position: center;
        }

        &-card-3 &-card-front {
            background: url("/assets/orchid1.jpg");
            background-size: cover;
            background-position: center;
        }

        &-card-4 &-card-front {
            background: url("/assets/peony1.jpg");
            background-size: cover;
            background-position: center;
        }

        &-card-5 &-card-front {
            background: url("/assets/pink-roses.jpg");
            background-size: cover;
            background-position: center;
        }

        &-card-6 &-card-front {
            background: url("/assets/sunflower1.jpg");
            background-size: cover;
            background-position: center;
        }


    }

   
}
@media screen and (max-width: 500px) {

    .offer_content {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .offer_content-card {
        width: 30rem;
        height: 35rem;
    }
}
.offer_content-card-back {
    transform: perspective(100rem) rotateY(0.5turn);
}

.offer_content-card:hover .offer_content-card-front {
    transform: perspective(100rem) rotateY(0.5turn);

}

.offer_content-card-1:hover .offer_content-card-back {
    transform: perspective(100rem) rotateY(1turn);
    background-color: #c21e56
}

.offer_content-card-2:hover .offer_content-card-back {
    transform: perspective(100rem) rotateY(1turn);
    background-color: #dbc8ab
}

.offer_content-card-3:hover .offer_content-card-back {
    transform: perspective(100rem) rotateY(1turn);
    background-color: #f1ebd9
}

.offer_content-card-4:hover .offer_content-card-back {
    transform: perspective(100rem) rotateY(1turn);
    background-color: #f3c9d5;

}

.offer_content-card-5:hover .offer_content-card-back {
    transform: perspective(100rem) rotateY(1turn);
    background-color: #f3638c;

}

.offer_content-card-6:hover .offer_content-card-back {
    transform: perspective(100rem) rotateY(1turn);

    background-color: #ffda03;


}