<!-- <div class="card text-center" >
  <img src="{{product.image}}" class="card-img-top " alt="card-image">
  <div class="card-body">
    <h3 class="card-title p-2">{{product.name | uppercase}}</h3>
    <h5 class="card-title p-2">{{product.price}}$</h5>
    <p class="card-text p-4">{{product.description}}</p>
    <a  (click)="addProduct(product)"  >add to basket</a>
    <a  (click)="addProduct(product)"  >add to basket</a>
  </div>
</div> -->

<div class="card" clas="hidden">
  <img src="{{product.image}}" alt="" class="card-img">
  <h3 class="card-title">{{product.name | uppercase}}</h3>
  <h4 class="card-price">{{product.price}}$</h4>
  <div class="card-action">
    <a  (click)="addProduct(product)" class="buy"  >buy</a>
    <a  (click)="showDetails(product)"  class="details">details</a>
  </div>
</div>