<section class="sign-in">
  <div class="toolbar"></div>

  <div class="sign-in_content">

  
    <h3>sign in <i class="fa-solid fa-user"></i></h3>
    <form (ngSubmit)="onSubmit()" action="" [formGroup]="SignInForm">
      <input formControlName="email" type="email" placeholder="email">
      <mat-error style="color:whitesmoke"  *ngIf="SignInForm.get('email').hasError('required')">
        email required*
        </mat-error>
        <mat-error  style="color:whitesmoke" *ngIf="SignInForm.get('email').hasError('email')">
        enter valid email
        </mat-error>
        <mat-error  style="color:whitesmoke" *ngIf="SignInForm.hasError('credentials')">
        no acount, try again or register  
        </mat-error>
      <input formControlName="password" type="password" placeholder="password">
      <mat-error style="color:whitesmoke"  *ngIf=" SignInForm.get('password').hasError('required')">
        password requaired*
      </mat-error>
      <div class="buttons">
        <button [disabled]="SignInForm.invalid">log in</button>
        <button class="register" routerLink="/sign-up" >register</button>
      </div>
 
    </form>
  
 
  </div>
</section>