<section class="sign-in">
  <div class="toolbar"></div>
  <div class="sign-in_content">
    <div class="sign-in_content-header">
      <h3>sign in <i class="fa-solid fa-user"></i></h3>
      <p>to complete your order and see your purchase history</p>
    </div>

    <form (ngSubmit)="onSubmit()" action="" [formGroup]="SignInForm">
      <input formControlName="email" type="email" placeholder="email">
      <mat-error style="color:whitesmoke"  *ngIf="SignInForm.get('email').hasError('required')">
        email required
        </mat-error>
        <mat-error  style="color:whitesmoke" *ngIf="SignInForm.get('email').hasError('email')">
        enter valid email
        </mat-error>
      <input formControlName="password" type="password" placeholder="password">
      <mat-error style="color:whitesmoke"  *ngIf=" SignInForm.get('password').hasError('required')">
        password requaired
      </mat-error>
      <button [disabled]="SignInForm.invalid">log in</button>
    </form>

    <a routerLink="/sign-up">if you dont have account you can register here</a>
  </div>
</section>